@import "tailwindcss";

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), local("Helvetica Neue"), url("/fonts/helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}